<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuschool.mapper.AccountMapper">
    <update id="updateUsername">
        UPDATE accounts SET username=#{username} WHERE user_id=#{userId};
        UPDATE users SET username=#{username} WHERE id=#{userId};
    </update>
</mapper>
