<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页</title>
    <link rel="stylesheet" href="./static/css/mainPage.css"/>
    <link rel="stylesheet" href="./static/css/common.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="./static/css/font-awesome.min.css">
    <script src="./static/js/jquery-3.4.1.min.js"></script>
    <script>
        var cot = 0;
        function next() {
            let length = $("#imgs img").length - 1;
            if(cot < length) {
                $("#imgs img").eq(cot).animate({'margin-left':'-900px'},500);
                cot++;
            }else {
                $("#imgs img").eq(cot).animate({'margin-left':'-0px'},500);
                cot = 0;
            }
        }
        function prev() {
            let length = $("#imgs img").length - 1;
            if(cot > 0) {
                $("#imgs img").eq(cot).animate({'margin-left':'0'},500);
                cot++;
            }else {
                $("#imgs img").each(function(index, e) {
                    if(index == length) {
                        $(this).animate({'margin-left':'0'},500);
                    }else{
                        $(this).animate({'margin-left':'-905px'},500);
                    }
                })
                cot = length;
            }
        }
    </script>
</head>
<body>
<div id="header" class="located font-20">
    <div id="header_left" class="flow">
        <table cellspacing="0" cellpadding="0" style="height: 80px;">
            <tr>
                <td><div class="table_cell bgc-d-blue"><a href="http://127.0.0.1:5500/mainPage.html" class="bgc-black">首页</a></div></td>
                <td><div class="table_cell"><a href="javascript:void(0)" class="bgc-black">我的课程</a></div></td>
                <td><div class="table_cell"><a href="javascript:void(0)" class="bgc-black">社区</a></div></td>
            </tr>
        </table>
    </div>
    <div id="header_right" class="flow">
        <table cellspacing="0" cellpadding="0" style="height: 80px;">
            <tr>
                <td><div class="table_cell"><a href="javascript:void(0)" class="bgc-black"><i class="fa fa-user-circle"></i>欢迎XXX</a></div></td>
                <td><div class="table_cell"><a href="javascript:void(0)" class="bgc-black"><i class="fa fa-cog fa-fw"></i>我的</a></div></td>
            </tr>
        </table>
    </div>
</div>
<!-- <div id="content">
    <div>
        <div onclick="next()" class="flow" style="z-index: 999; width: 50px; height: 50px;"><i class="fa fa-angle-right"></i></div>
        <div onclick="" class="flow"><i></i></div>
    </div>
    <div id="imgs">
        <img src="./img/0.jpg">
        <img src="./img/1.jpg">
        <img src="./img/2.jpg">
        <img src="./img/3.jpg">
        <img src="./img/4.jpg">
    </div>
</div> -->
<div id="img" style="margin-top: 80px;">
    <img src="./static/image/bg_1.png">
</div>
<div class="located bgc-l-gray" style="width: 80%;height: 200px;margin: 0 auto;margin-top: 10px;">
    <div id="recommend" class="float">
        <div class="head located">
            <div class="divider flow bgc-l-blue-2"></div>
            <label class="color-black flow font-20" style="left: 30px;height: 40px;top: 50%;transform: translateY(-50%);">特别推荐</label>
            <div class="flow font-20 more bgc-d-gray-1 border-5" style="right: 12px;"><a href="javascript:void(0)" class="full">更多</a></div>
        </div>
        <div class="classes">
            <div class="class">
                <div>
                    <img src="./static/image/classes/1.jpg" />
                </div>
                <div>
                    操作系统原理
                </div>
            </div>
            <div class="class">
                <div>
                    <img src="./static/image/classes/1.jpg" />
                </div>
                <div>
                    操作系统原理
                </div>
            </div>
            <div class="class">
                <div>
                    <img src="./static/image/classes/1.jpg" />
                </div>
                <div>
                    操作系统原理
                </div>
            </div>
            <div class="class">
                <div>
                    <img src="./static/image/classes/1.jpg" />
                </div>
                <div>
                    操作系统原理
                </div>
            </div>
        </div>
    </div>
    <div id="announcement" class="float">
        <div class="head located">
            <div class="divider flow bgc-l-blue-2"></div>
            <label class="color-black flow font-20" style="left: 30px;height: 40px;top: 50%;transform: translateY(-50%);">通知公告</label>
            <div class="flow font-20 more bgc-d-gray-1 border-5" style="right: 12px;"><a href="javascript:void(0)" class="full">更多</a></div>
        </div>
        <div class="notices">
            <div class="notice font-20"><a href="javascript:void(0)">2020.6.25停机维护公告</a></div>
            <div class="notice font-20"><a href="javascript:void(0)">2020.6.19版本更新公告</a></div>
        </div>
    </div>
</div>
<div class="located" style="width: 80%;height: 500px;margin: 0 auto;margin-top: 10px;">
    <div id="all" class="float">
        <div class="head located">
            <div class="divider flow bgc-l-blue-2"></div>
            <label class="color-black flow font-20" style="left: 30px;height: 40px;top: 50%;transform: translateY(-50%);">所有课程</label>
            <div class="flow font-20 more bgc-d-gray-1 border-5" style="right: 12px;"><a href="javascript:void(0)" class="full">更多</a></div>
        </div>
        <div class="grup" style="margin-top: 0;">
            <div class="classes">
                <div class="class">
                    <div>
                        <img src="./static/image/classes/1.jpg" />
                    </div>
                    <div>
                        操作系统原理
                    </div>
                </div>
                <div class="class">
                    <div>
                        <img src="./static/image/classes/1.jpg" />
                    </div>
                    <div>
                        操作系统原理
                    </div>
                </div>
                <div class="class">
                    <div>
                        <img src="./static/image/classes/1.jpg" />
                    </div>
                    <div>
                        操作系统原理
                    </div>
                </div>
                <div class="class">
                    <div>
                        <img src="./static/image/classes/1.jpg" />
                    </div>
                    <div>
                        操作系统原理
                    </div>
                </div>
            </div>
        </div>
        <div class="grup">
            <div class="classes">
                <div class="class">
                    <div>
                        <img src="./static/image/classes/1.jpg" />
                    </div>
                    <div>
                        操作系统原理
                    </div>
                </div>
                <div class="class">
                    <div>
                        <img src="./static/image/classes/1.jpg" />
                    </div>
                    <div>
                        操作系统原理
                    </div>
                </div>
                <div class="class">
                    <div>
                        <img src="./static/image/classes/1.jpg" />
                    </div>
                    <div>
                        操作系统原理
                    </div>
                </div>
                <div class="class">
                    <div>
                        <img src="./static/image/classes/1.jpg" />
                    </div>
                    <div>
                        操作系统原理
                    </div>
                </div>
            </div>
        </div>
        <div class="grup">
            <div class="classes">
                <div class="class">
                    <div>
                        <img src="./static/image/classes/1.jpg" />
                    </div>
                    <div>
                        操作系统原理
                    </div>
                </div>
                <div class="class">
                    <div>
                        <img src="./static/image/classes/1.jpg" />
                    </div>
                    <div>
                        操作系统原理
                    </div>
                </div>
                <div class="class">
                    <div>
                        <img src="./static/image/classes/1.jpg" />
                    </div>
                    <div>
                        操作系统原理
                    </div>
                </div>
                <div class="class">
                    <div>
                        <img src="./static/image/classes/1.jpg" />
                    </div>
                    <div>
                        操作系统原理
                    </div>
                </div>
            </div>
        </div>
        <div class="grup">
            <div class="classes">
                <div class="class">
                    <div>
                        <img src="./static/image/classes/1.jpg" />
                    </div>
                    <div>
                        操作系统原理
                    </div>
                </div>
                <div class="class">
                    <div>
                        <img src="./static/image/classes/1.jpg" />
                    </div>
                    <div>
                        操作系统原理
                    </div>
                </div>
                <div class="class">
                    <div>
                        <img src="./static/image/classes/1.jpg" />
                    </div>
                    <div>
                        操作系统原理
                    </div>
                </div>
                <div class="class">
                    <div>
                        <img src="./static/image/classes/1.jpg" />
                    </div>
                    <div>
                        操作系统原理
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="list" class="float">
        <div class="head located">
            <div class="divider flow bgc-l-blue-2"></div>
            <label class="color-black flow font-20" style="left: 30px;height: 40px;top: 50%;transform: translateY(-50%);">排行榜</label>
            <div class="flow font-20 more bgc-d-gray-1 border-5" style="right: 12px;"><a href="javascript:void(0)" class="full">更多</a></div>
        </div>
        <div class="ranks">
            <div class="rank font-20 float">
                <label>1</label>
                <a href="javascript:void(0)">操作系统原理</a>
            </div>
            <div class="rank font-20 float">
                <label>2</label>
                <a href="javascript:void(0)">操作系统原理</a>
            </div>
            <div class="rank font-20 float">
                <label>3</label>
                <a href="javascript:void(0)">操作系统原理</a>
            </div>
            <div class="rank font-20 float">
                <label>4</label>
                <a href="javascript:void(0)">操作系统原理</a>
            </div>
            <div class="rank font-20 float">
                <label>5</label>
                <a href="javascript:void(0)">操作系统原理</a>
            </div>
            
        </div>
    </div>
</div>
<div id="foot"></div>
</body>
</html>