<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>主页</title>
  <link rel="stylesheet" href="static/css/mainPage.css"/>
  <link rel="stylesheet" href="static/css/common.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <link rel="stylesheet" href="static/css/font-awesome.min.css">
  <!-- <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.js"></script> -->
  <script src="static/js/jquery-3.4.1.min.js"></script>
  <script src="static/js/jsencrypt.min.js"></script>
  <script src="static/js/axios.js"></script>
</head>
<body>
<div id="app">
 <t_header :user_name="a_user_name" :is_login="is_login"></t_header>
  <div id="img" style="margin-top: 80px;">
    <img src="static/image/head_2.jpg">
  </div>
  <div class="located bgc-l-gray" style="width: 80%;height: 200px;margin: 0 auto;margin-top: 10px;">
    <div id="recommend" class="float">
      <t_head :head_name="'特别推荐'" :index="0"></t_head>
      <div class="classes" style="overflow: hidden; margin-top: 0">
        <t_class v-for="(e, index) in recommend_classes" :class_id="e.class_id" :class_cover="e.class_cover"
                 :class_name="e.class_name" :key="e + index"></t_class>
      </div>
    </div>
    <div id="announcement" class="float">
      <t_head :head_name="'通知公告'" :index="1"></t_head>
      <div class="notices">
        <t_notice v-for="(e, index) in announcement" :notice_id="e.notice_id" :index="index + 1"
                  :notice_name="e.notice_name" :key="e + index"></t_notice>
      </div>
    </div>
  </div>
  <div class="located" style="width: 80%;height: 500px;margin: 0 auto;margin-top: 10px;">
    <div id="all" class="float">
      <t_head :head_name="'所有课程'" :index="2"></t_head>
      <div class="classes" v-for="(e, index) in all_classes" :key="e + index">
        <t_class v-for="(i, k) in e" :class_id="i.class_id" :class_cover="i.class_cover"
                 :class_name="i.class_name" :key="i + k"></t_class>
      </div>
    </div>
    <div id="list" class="float">
      <t_head :head_name="'排行榜'" :index="3"></t_head>
      <div class="ranks">
        <t_rank v-for="(e, index) in rank_classes" :class_id="e.class_id" :index="index + 1" :class_name="e.class_name"
                :key="e + index"
        ></t_rank>
      </div>
    </div>
  </div>
</div>
<template id="header_temp">
  <div id="header" class="located font-20">
    <div id="header_left" class="flow">
      <table cellspacing="0" cellpadding="0" style="height: 80px;">
        <tr>
          <td><div class="table_cell bgc-d-blue" @click="to_main_page"><a href="javascript:void(0)"
                                                                          class="bgc-black">首页</a></div></td>
          <td><div class="table_cell"><a href="javascript:void(0)" class="bgc-black">我的课程</a></div></td>
          <td><div class="table_cell"><a href="javascript:void(0)" class="bgc-black">社区</a></div></td>
        </tr>
      </table>
    </div>
    <div id="header_right" class="flow">
      <table cellspacing="0" cellpadding="0" style="height: 80px;">
        <tr>
          <td><div class="table_cell"
                   @click="to_action"><a href="javascript:void(0)" class="bgc-black">{{user_name}}</a></div></td>
          <td v-if="is_login"><div class="table_cell" @click="to_action"><a href="javascript:void(0)"
                                                                           class="bgc-black"><i
                  class="fa fa-cog fa-fw"></i>我的</a></div></td>
        </tr>
      </table>
    </div>
  </div>
</template>
<template id="class_temp">
  <div class="class" @click.self.stop="to_over_view">
    <div><img :src="class_cover"/></div>
    <div>{{class_name}}</div>
  </div>
</template>
<template id="notice_temp">
  <div class="notice font-20">
    <a href="javascript:void(0)" @click="show_notice">{{my_name}}</a>
  </div>
</template>
<template id="rank_temp">
  <div class="rank font-20 float" @click="to_over_view">
    <label>{{index}}</label>
    <a href="javascript:void(0)">{{class_name}}</a>
  </div>
</template>
<template id="head_temp">
  <div class="head located">
    <div class="divider flow bgc-l-blue-2"></div>
    <label class="color-black flow font-20" style="left: 30px;height: 40px;top: 50%;transform: translateY(-50%);">{{head_name}}</label>
    <div class="flow font-20 more bgc-d-gray-1 border-5" style="right: 12px;" @click="to_more">
      <a href="javascript:void(0)" class="full">更多</a>
    </div>
  </div>
</template>
<script src="static/js/vue.js"></script>
<script>
  var domain = '';
  const t_header = {
    template: `#header_temp`,
    props: {
      user_name: String,
      is_login: {
        type: Boolean,
        require: true
      }
    },
    data() {
      return {

      }
    },
    methods: {
      to_main_page() {
        window.location = domain.concat('/overViewPage?class_id=', this.class_id);
      },
      to_action() {
        window.location = domain.concat('/userPage');
      }
    }
  }
  const t_class = {
    template: `#class_temp`,
    props: {
      class_id: {
        type: Number,
        require: true
      },
      class_cover: {
        type: String,
        default: 'static/image/classes/1.jpg'
      },
      class_name: {
        type: String,
        default: '默认课程名'
      }
    },
    data() {
      return {

      }
    },
    methods: {
      to_over_view() {
        window.location = domain.concat('/overViewPage?class_id=', this.class_id);
      }
    }
  }
  const t_notice = {
    template: `#notice_temp`,
    props: {
      notice_id: {
        type: Number,
        require: true
      },
      index: {
        type: Number,
        require: true
      },
      notice_name: {
        type: String,
        require: true
      }
    },
    data() {
      return {

      }
    },
    methods: {
      show_notice() {
        this.$emit('show_notice', this.index);
      }
    },
    computed: {
      my_name() {
        return this.index + '. ' + this.notice_name;
      }
    }
  }
  const t_rank = {
    template: `#rank_temp`,
    props: {
      class_id: {
        type: Number,
        require: true
      },
      index: {
        type: Number,
        require: true
      },
      class_name: {
        type: String,
        require: true
      }
    },
    data() {
      return {

      }
    },
    methods: {
      to_over_view() {
        window.location = domain.concat('/overViewPage?class_id=', this.class_id);
      }
    }
  }
  const t_head = {
    template: `#head_temp`,
    props: {
      head_name: {
        type: String,
        require: true
      },
      index: {
        type: Number,
        require: true
      }
    },
    data() {
      return {

      }
    },
    methods: {
      to_more() {
        this.$emit('to_more', this.index);
      }
    }
  }
  const app = new Vue({
    el: '#app',
    data: {
      user_name: '',
      is_login: false,
      recommend_classes: [{
        class_id: 1,
        class_cover: 'static/image/classes/1.jpg',
        class_name: '操作系统原理'
      }, {
        class_id: 2,
        class_cover: 'static/image/classes/1.jpg',
        class_name: '操作系统原理'
      }],
      announcement: [{
        notice_id: 1,
        notice_name: '2020.6.25停机维护公告'
      }, {
        notice_id: 2,
        notice_name: '2020.6.19停机维护公告'
      }],
      rank_classes: [{
        class_id: 1,
        class_cover: 'static/image/classes/1.jpg',
        class_name: '操作系统原理'
      }, {
        class_id: 2,
        class_cover: 'static/image/classes/1.jpg',
        class_name: '操作系统原理'
      }, {
        class_id: 3,
        class_cover: 'static/image/classes/1.jpg',
        class_name: '操作系统原理'
      }, {
        class_id: 4,
        class_cover: 'static/image/classes/1.jpg',
        class_name: '操作系统原理'
      }],
      all_classes: [[{
        class_id: 1,
        class_cover: 'static/image/classes/1.jpg',
        class_name: '操作系统原理'
      }, {
        class_id: 2,
        class_cover: 'static/image/classes/1.jpg',
        class_name: '操作系统原理'
      }, {
        class_id: 3,
        class_cover: 'static/image/classes/1.jpg',
        class_name: '操作系统原理'
      }, {
        class_id: 4,
        class_cover: 'static/image/classes/1.jpg',
        class_name: '操作系统原理'
      }], [{
        class_id: 5,
        class_cover: 'static/image/classes/1.jpg',
        class_name: '操作系统原理'
      }, {
        class_id: 6,
        class_cover: 'static/image/classes/1.jpg',
        class_name: '操作系统原理'
      }, {
        class_id: 7,
        class_cover: 'static/image/classes/1.jpg',
        class_name: '操作系统原理'
      }]]
    },
    methods: {
      // get_splice_classes() {
      //   let res = [];
      //   for (let i = 0; i < this.all_classes.length; i += 4) {
      //     res.push(this.all_classes.splice(i, (i + 4)));
      //   }
      //   return res;
      // }
    },
    computed: {
      a_user_name() {
        return this.user_name === '' ? '登录' : '欢迎'.concat(this.user_name)
      }
    },
    components: {
      t_header: t_header,
      t_class: t_class,
      t_notice: t_notice,
      t_rank: t_rank,
      t_head: t_head
    },
    mounted() {
      domain = 'http://'.concat(document.domain);
    }
  })

</script>
<div id="foot"></div>
</body>
</html>